body{
	width: 100%;
	background-color: #eee;
    background-size: 100% 100%;
    }
html{
	width: 100%;
}
.navbar-dark{
	background-color: #5F7A8F !important;
}
.navbar-nav li{
	padding-right: 20px;
	
}
.nav-link{
	font-size: 20px;
}
.navbar-brand{
	float: left;
	left: 7%;
	width: 10%;
	
}
.navbar-brand h3{
	margin-left: 85%;
	text-shadow: 2px 2px 1px rgba(1,1,1,0.5);
}

.navbar-dark .navbar-brand img{
	width: 100%;
	margin-left: 10%;

}
.navbar-toggler{
	margin-left: 30%;
}

/*#main{
	float: left;
	position: relative;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
	width: 50%;
}*/

#unis{
	position: relative;
	float: left;
}

#left-aside{
	margin-top: 20px;
}

.row{
	margin: 0 5% 0 2%;
}

.jumbotron{
	background-color: white;
}

.btn-dark{
	background-color: #5F7A8F;
	border-color: #5F7A8F;
}
.carousel-item img{
	width: 100%;
	height: 70%;
}

@keyframes pulse {
0%{font-size: 150%;}
25%{font-size: 150%;}
50%{font-size: 153%;}
75%{font-size: 150%;}
100%{font-size: 150%;}

}

.next{
	position: absolute;
	top: 50px;
	left: 80%;
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 150%;
	color: #2E9AE3;
	font-weight: 500;
	animation-name:pulse;
    animation-duration:2s;
	animation-iteration-count: infinite;
	background-repeat: no-repeat;
	text-shadow: 1px 1px 1px white;
}

.next img{
	margin-top: -7px;
	width: 10%;
	height: 10%;
}
.next a{
	margin: 0;
}

@media(max-width: 1024px){
	.next{
		left: 25%;
		width: 70%;
	}
	.navbar-brand h3{
		font-size: 100%;
		margin-left: 10%;
	}
	.navbar-brand{
		width: 20%;
	}
}

#text-box{
	background-color: white !important;
	padding: 5%;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
	border-radius: 1%;
}