body{ 
  width: 100%;
  height: 100%;
}

html{
	height: 100%;
}
.navbar{
	background-color: white !important;
}

.navbar .navbar-brand img{
	width: 50%;
	height: 40%;
	margin-left: 10%;
}

.nav-link{
	margin-top: -20px;
	font-size: 150%;
}

.container h1{
	font-weight: 700;
	font-size: 300%;
}
.row{
	width:100%;
}
#text{
	position: relative;
	float: left;
	width: 100%;
	top: 7%;
	left: 20%;
	color: white;
	z-index: 5;
	font-size: 250%;
	line-height: 2em;
	font-weight: 800;
	font-family: 'Exo 2', sans-serif;
	text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
}

#image{
	background-image: url(../images/background.gif);
	background-repeat: no-repeat;
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	z-index: 0;
	height: 80%;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
	background-size: 100% 100%;

}

#login-box{
	position: relative;
	width: 90%;
	height: 100%;
	float: right;
	left: 50%;
	top: -5%;
	padding: 15% 10%;
	background: #eee;
	border-radius: 5px;
	z-index: 5;
	text-align: center;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}

#login-box form{
	text-align: left;
	margin: 10% 0 20% 0;
}

#login-box h1{
	font-size: 150%;
}
#login-box img{
	left: 10%; 
	width: 50%;
}

#signup-box{
	position: relative;
	width: 90%;
	height: 100%;
	float: left;
	left: 60%;
	top: -5%;
	padding: 2% 5%;
	background: #eee;
	border-radius: 5px;
	z-index: 5;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
.contact{
	float: left; 
	width: 25%; 
	margin-right: 5%; 
	margin-bottom: 1%;
}
.contact img{
	width: 100%;
}
.contact button{
	margin-left: 5%; 
	width: 90%
}
@media(max-width: 768px){
	#login-box{
		left: 0;
		top: 10%;
	}
	#signup-box{
		left: 10%;
		top: 10%;
	}
	#text{
		left:5%;
		font-size: 125%;
		
	}
	#image{
		height: 30%;
	}
	.navbar-toggler{
		margin-left: -50px;
	}
}